{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehiculos</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehiculo.id }}</td>
            </tr>
            <tr>
                <th>Nrovehiculo</th>
                <td>{{ vehiculo.nroVehiculo }}</td>
            </tr>
            <tr>
                <th>Patente</th>
                <td>{{ vehiculo.patente }}</td>
            </tr>
            <tr>
                <th>Tipovehiculo</th>
                <td>{{ vehiculo.tipoVehiculo }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ vehiculo.marca }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ vehiculo.modelo }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ vehiculo.color }}</td>
            </tr>
            <tr>
                <th>Capacidad</th>
                <td>{{ vehiculo.capacidad }}</td>
            </tr>
            <tr>
                <th>Motor</th>
                <td>{{ vehiculo.motor }}</td>
            </tr>
            <tr>
                <th>Puertas</th>
                <td>{{ vehiculo.puertas }}</td>
            </tr>
            <tr>
                <th>Seriemotor</th>
                <td>{{ vehiculo.serieMotor }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ vehiculo.estado }}</td>
            </tr>
            <tr>
                <th>Fechaalta</th>
                <td>{% if vehiculo.fechaAlta %}{{ vehiculo.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechabaja</th>
                <td>{% if vehiculo.fechaBaja %}{{ vehiculo.fechaBaja|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodif</th>
                <td>{% if vehiculo.fechaModif %}{{ vehiculo.fechaModif|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ vehiculo.usuario }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ vehiculo.localidad }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ vehiculo.observacion }}</td>
            </tr>
            <tr>
                <th>Horarioinicioactiv</th>
                <td>{% if vehiculo.horarioInicioActiv %}{{ vehiculo.horarioInicioActiv|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Horariofinactiv</th>
                <td>{% if vehiculo.horarioFinActiv %}{{ vehiculo.horarioFinActiv|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehiculos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vehiculos_edit', { 'id': vehiculo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
